@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(assets/background.jpg);
    background-size: 160%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;  
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.img-container{
    height: 146px;
    width: 146px;
    border-radius: 48px;
    overflow: hidden;
    box-shadow: 0 0 8px 1px lightblue;
}

h3{
    color: white;
    display: flex;
}

.icon-btn{
    font-size: 27px;
}


.img-container img{
    height: 100%;
}

.share-btn img{
    height: 28px;
    width: 28px;
}

.share-btn img:hover{
    height: 28px;
    width: 28px;
    color: white;
}

.btn p{
    font-size: 20px;
}

.btn{
    width: 100%;
    padding: 10px;
    height: 56px;
    background-color: white;
    margin: 7px;
    border-radius: 17px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    transition-duration: 200ms;
    box-shadow: rgb(5, 161, 223) 8px 8px 0px 0px;
}

.btn:hover{
        background: rgb(0, 140, 255);
        color: white;
        box-shadow: rgb(255, 255, 255) 8px 8px 0px 0px;
}


